<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LearnCodeOnline</title>
</head>
<body>
    <h1>IIFE</h1>
    <div>
        <p>This is a webserver</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique ratione facere illo fugit doloremque exercitationem mollitia numquam sapiente perspiciatis, impedit debitis aliquam quo cum, asperiores repudiandae placeat voluptatem illum odio.</p>
    </div>
</body>
</html>